@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "نسيان كلمة السر ";
}

<h1  style="font-family:Cairo;direction:rtl">@ViewData["Title"]</h1>
<p class="container" style="font-family:Cairo;direction:rtl">
   الرجاء النقر علي الرابط المرسل الى الايميل الخاص بك لاعادة كلمه السر 
</p>
